*{
    margin: 0;
    padding: 0;
}

.footer{
    border-radius: 20px;
    margin-top: 70px;
    text-align: center;
    background-color: green;
    color: white;
}

.footer p{
    font-size: 20px;
    font-family: cursive;
}