*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.iniciosesion{
    width: 400px;
    height: 250px;
    background-color: rgb(160, 240, 160);
    margin: auto;
    margin-top: 70px;
    box-shadow: 7px 13px 37px;
    padding: 20px 30px;
    border-top: 4px solid green;
    border-radius: 20px;
    color: green;
}

.iniciosesion h5{
    margin: 0;
    text-align: center;
    font-family: cursive;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1 px solid black;
    font-size: 20px;
}

.iniciosesion a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: cursive;
}

.botones{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 11px 10px;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.ingresar{
    width: 100%;
    height: 40px;
    background: green;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.registrar{
    text-align: center;
    margin-top: 10px;
}

.registrar a{
    text-decoration: none;
    color: black;
}

.container{
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container > div{
    border: 2px solid black;
    margin-top: 10px;
    margin-block-end: 10px;
}

.categorias{
    background-color: #7de87b;
    flex: 20%;
    max-width: 20%;
    display: grid;
    justify-content: center;
    margin: 3px 3px;
    border-radius: 20px;
}

.categorias > div{
    border: 2px solid black;
    height: 300px;
    width: 350px;
    border-radius: 20px;
    margin-block-end: 10px;
}

.categorias > div p{
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    margin-left: 5px;
    margin-right: 5px;
}

h5{
    text-align: center;
}

h3{
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}

h4{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.imagenes{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.inscribirse{
    background-color: green;
    border: 2px solid black;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.inscribirse a{
    text-decoration: none;
    font-family: cursive;
    color: white;
}

.info{
    background-color: white;
    border: 2px solid black;
    height: 130px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-block-end: 10px;
    border-radius: 20px;
}

.texto{
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 850px){
    .categorias{
        flex: 100%;
        max-width: 100%;
    }
}

@media (min-width: 851px) and (max-width: 1800px){
    .categorias{
        flex: 50%;
        max-width: 50%;
        margin: 0;
    }
}